*{
    margin: 0;
}

body{
    background: linear-gradient(243deg, #168039 0%, #044D29 100%); 
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: white;
}

.icon{
    height: 30px;
    width: 30px;
}

#navbar{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 3rem;
}

#tabs{
    display: flex;
}
.tab{
    padding: 0 1rem;
}